/*=================== fonts ====================*/
/* animation =================================
animation:name duration | timing-function | delay | iteration-count | direction | fill-mode | play-state; */
.tab-game {
  background-color: #DAE9F4;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 10px 0;
}
.tab-game .icon-mask::before {
  background-color: #7B4D06;
}
.tab-game .content {
  max-width: 840px;
  margin: 0 auto;
}
.tab-game .icon-mask {
  width: 100%;
  height: 45px;
  padding: 3px 0;
}
.tab-game .title {
  width: 100%;
  height: 45px;
  padding: 3px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DD8800;
  color: #fff;
  text-shadow: 0px 0px 4px #895500;
  text-align: center;
}
.tab-game .tab-scroller {
  max-height: 45px;
}
.tab-game .tab-scroller .tab-item-link {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.tab-game .tab-scroller .tab-item {
  white-space: normal;
}
.tab-game .tab-scroller .tab-item:hover .tab-item-link, .tab-game .tab-scroller .tab-item.active .tab-item-link {
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}
.tab-game .tab-scroller .tab-item.active .title {
  background-color: #F6B619;
}
.tab-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 96%;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  padding-left: 70.4347826087px;
}
.tab-search {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  margin-right: 2px;
  width: 58.6956521739px;
  height: 58.6956521739px;
  border-radius: 50%;
  background-color: #8DD0DA;
  border: solid 2px #fff;
  -webkit-box-shadow: 0 0 0px 5px #3A9AA0;
          box-shadow: 0 0 0px 5px #3A9AA0;
  padding: 3px;
  position: absolute;
  left: 0;
  top: 5px;
  z-index: 1;
}
.tab-search .title {
  display: none;
}
.section-wrap.hero {
  overflow: hidden;
}

.hero_slider_lobby {
  position: relative;
  overflow: hidden;
}
.hero_slider_lobby .container {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.hero_slider_lobby .hero-item {
  position: relative;
}
.hero_slider_lobby .hero-item-box {
  border-radius: 12px;
  overflow: hidden;
}
.hero_slider_lobby .hero-item-box.mobile {
  display: inherit !important;
}
.hero_slider_lobby .hero-item-box.pad {
  display: none !important;
}
.hero_slider_lobby .hero-item-box.desktop {
  display: none !important;
}
.hero_slider_lobby .hero-item-link {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}
.hero_slider_lobby .img-wrap {
  position: relative;
  padding-bottom: 200px;
  overflow: hidden;
  border-radius: 12px;
}
.hero_slider_lobby .img-wrap img.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  width: 100%;
  height: 100%;
}
.hero_slider_lobby .swiper-slide {
  max-width: 85%;
  padding: 0 8px;
  opacity: 0.65;
}
.hero_slider_lobby .swiper-slide-active {
  opacity: 1;
}
.hero_slider_lobby .swiper-pagination {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.hero_slider_lobby .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.hero_slider_lobby .swiper-pagination-bullet-active {
  background-color: rgba(104, 188, 255, 0.9);
}

.section-category-dailypush {
  margin-bottom: 1.5rem;
}
.section-category-dailypush .container {
  padding-left: 0;
  padding-right: 0;
}

.category-dailypush {
  cursor: pointer;
}
.category-dailypush-wrapper[class*=crownLevel-] .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.category-dailypush-wrapper[class*=crownLevel-] .title::after {
  margin-left: 4px;
  content: "";
  display: inline-block;
  width: 70px;
  height: 50px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}
.category-dailypush-wrapper.crownLevel-1 .title::after {
  background-image: url(../images/icon/ico-crown-dog-star-1.svg);
}
.category-dailypush-wrapper.crownLevel-1.crown-Payout .title::after {
  background-image: url(../images/icon/ico-crown-dog-star-1-payout.svg);
}
.category-dailypush-wrapper.crownLevel-1.crown-Multiplier .title::after {
  background-image: url(../images/icon/ico-crown-dog-star-1-multiplier.svg);
}
.category-dailypush-wrapper.crownLevel-1.crown-Spin .title::after {
  background-image: url(../images/icon/ico-crown-dog-star-1-spin.svg);
}
.category-dailypush-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.category-dailypush-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.category-dailypush-img .img-box {
  width: 100%;
  height: 100%;
}
.category-dailypush-img .img-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.category-dailypush-img img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  width: 100%;
  height: 100%;
}
.category-dailypush-img .pad {
  display: none;
}
.category-dailypush-img .desktop {
  display: none;
}
.category-dailypush-cotentBox {
  position: relative;
  padding: 15px 20px;
  right: 0;
  width: 50%;
  max-width: 300px;
  min-width: 200px;
  height: 90%;
  max-height: 250px;
  min-height: 180px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.category-dailypush-cotentBox .title {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  width: 100%;
}
.category-dailypush-cotentBox .info {
  margin-bottom: 1rem;
}
.category-dailypush-cotentBox .detail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 300;
}
.category-dailypush-cotentBox .gamename {
  font-size: 1.125rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
}
.category-dailypush-cotentBox .gamecategory {
  border: solid 1px #fff;
  margin-left: 1rem;
  padding: 5px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}
.category-dailypush-cotentBox .intro {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
.category-dailypush-cotentBox .action {
  width: 100%;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.category-dailypush-cotentBox .btn-play {
  border-radius: 50px;
  background-color: #F5A919;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.category-dailypush-cotentBox .btn-like {
  background-color: transparent;
  border: solid 1px #fff;
  font-size: 26px;
  width: 38px;
  margin-left: 1rem;
  color: #fff;
}
.category-dailypush-cotentBox .btn-like:not(.added).desktop:hover {
  color: #fff;
}
.category-dailypush-cotentBox .btn-like:not(.added).desktop:hover .icon-m-favorite:before {
  content: "a";
}
.category-dailypush-cotentBox .btn-like.added {
  color: #ff0000;
  background-color: rgba(255, 255, 255, 0.25);
}
.category-dailypush-cotent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.game_slider.swiper-cover .swiper-slide {
  width: 130px;
}

@media screen and (max-width: 575px) {
  .section-levelUp {
    padding-left: 10px;
  }
}

.game_slider .swiper-slide {
  padding-right: 10px;
  width: 31.25%;
}
.gameRanking .swiper-wrapper {
  counter-reset: num;
}
.gameRanking .swiper-slide {
  position: relative;
  padding-left: 15.625%;
  width: 46.875%;
}
.gameRanking .swiper-slide:before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: calc(100% - 10px);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 10px;
}
.gameRanking .swiper-slide:nth-child(1):before {
  background-image: url(../images/icon/num01.svg);
}
.gameRanking .swiper-slide:nth-child(2):before {
  background-image: url(../images/icon/num02.svg);
}
.gameRanking .swiper-slide:nth-child(3):before {
  background-image: url(../images/icon/num03.svg);
}
.gameRanking .swiper-slide:nth-child(4):before {
  background-image: url(../images/icon/num04.svg);
}
.gameRanking .swiper-slide:nth-child(5):before {
  background-image: url(../images/icon/num05.svg);
}
.gameRanking .swiper-slide:nth-child(6):before {
  background-image: url(../images/icon/num06.svg);
}
.gameRanking .swiper-slide:nth-child(7):before {
  background-image: url(../images/icon/num07.svg);
}
.gameRanking .swiper-slide:nth-child(8):before {
  background-image: url(../images/icon/num08.svg);
}
.gameRanking .swiper-slide:nth-child(9):before {
  background-image: url(../images/icon/num09.svg);
}
.gameRanking .swiper-slide:nth-child(10):before {
  background-image: url(../images/icon/num10.svg);
}
.gameRanking .swiper-slide:nth-child(10) ~ .swiper-slide {
  display: none;
}
.gameRanking .swiper-button-next, .gameRanking .swiper-button-prev {
  height: calc(100% - 10px);
}

@media (min-width: 375px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 230px;
  }
  .game_slider .swiper-slide {
    width: 28.5714285714%;
  }
  .gameRanking .swiper-slide {
    padding-left: 14.2857142857%;
    width: 42.8571428571%;
  }
}
@media (min-width: 576px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 300px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 68%;
  }
  .game_slider .swiper-slide {
    width: 22.2222222222%;
  }
  .gameRanking .swiper-slide {
    padding-left: 11.1111111111%;
    width: 33.3333333333%;
  }
  .category-dailypush-img {
    border-radius: 15px;
    overflow: hidden;
  }
}
@media (min-width: 640px) {
  .hero_slider_lobby .swiper-slide {
    max-width: 70%;
  }
  .game_slider .swiper-slide {
    width: 18.1818181818%;
  }
  .gameRanking .swiper-slide {
    padding-left: 9.0909090909%;
    width: 27.2727272727%;
  }
}
@media (min-width: 712px) {
  .tab-game .tab-scroller {
    max-height: 52px;
  }
  .tab-game .tab-inner {
    padding-left: 66.9130434783px;
  }
  .tab-game .tab-search {
    width: 66.9130434783px;
    height: 66.9130434783px;
  }
  .tab-game .icon-mask {
    height: 52px;
    padding: 3px 0;
  }
  .tab-game .title {
    height: 52px;
    padding: 3px 0;
    font-size: 1.125rem;
    font-weight: 700;
  }
  .hero_slider_lobby .img-wrap {
    padding-bottom: 280px;
  }
  .hero_slider_lobby .hero-item-box.mobile {
    display: none !important;
  }
  .hero_slider_lobby .hero-item-box.desktop {
    display: inherit !important;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 75%;
  }
  .game_slider .swiper-slide {
    width: 18.1818181818%;
  }
  .gameRanking .swiper-slide {
    padding-left: 9.0909090909%;
    width: 27.2727272727%;
  }
  .game_slider.swiper-cover .swiper-slide {
    width: 140px;
  }
}
@media (min-width: 768px) {
  .category-dailypush-inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    aspect-ratio: 288/100;
  }
  .category-dailypush-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .category-dailypush-img .mobile {
    display: none;
  }
  .category-dailypush-img .pad {
    display: inherit;
  }
  .category-dailypush-img .desktop {
    display: none;
  }
  .category-dailypush-img img {
    -o-object-position: 100% 0;
       object-position: 100% 0;
  }
}
@media (min-width: 936px) {
  .game_slider .swiper-slide {
    padding-right: 1vw;
  }
  .game_slider.swiper-cover .swiper-slide {
    width: 170px;
  }
  .category-dailypush-inner {
    aspect-ratio: 288/80;
  }
  .category-dailypush-img .pad {
    display: none;
  }
  .category-dailypush-img .desktop {
    display: inherit;
  }
}
@media (min-width: 936px) and (max-width: 1143px) {
  .game_slider .swiper-slide {
    width: 16.6666666667%;
  }
  .game_slider .swiper-slide:nth-child(6n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(6n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(6n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0px;
  }
  .game_slider .swiper-slide:nth-child(6n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
  .gameRanking .swiper-slide {
    padding-left: 8.3333333333%;
    width: 25%;
  }
}
@media (min-width: 1144px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 320px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 70%;
  }
  .game_slider.swiper-cover .swiper-slide {
    width: 200px;
  }
  .category-dailypush-inner {
    aspect-ratio: 288/65;
  }
  .category-dailypush-img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .category-dailypush-wrapper[class*=crownLevel-] .title::after {
    width: 90px;
  }
}
@media (min-width: 1144px) and (max-width: 1383px) {
  .game_slider .swiper-slide {
    width: 14.2857142857%;
  }
  .game_slider .swiper-slide:nth-child(7n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(7n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(7n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0px;
  }
  .game_slider .swiper-slide:nth-child(7n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
  .gameRanking .swiper-slide {
    padding-left: 7.1428571429%;
    width: 21.4285714286%;
  }
}
@media (min-width: 1384px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 340px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 66%;
  }
  .game_slider.swiper-cover .swiper-slide {
    width: 220px;
  }
}
@media (min-width: 1384px) and (max-width: 1543px) {
  .game_slider .swiper-slide {
    width: 14.2857142857%;
  }
  .game_slider .swiper-slide:nth-child(8n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(8n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(8n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0;
  }
  .game_slider .swiper-slide:nth-child(8n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
  .gameRanking .swiper-slide {
    padding-left: 7.1428571429%;
    width: 21.4285714286%;
  }
}
@media (min-width: 1544px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 380px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 70%;
  }
  .game_slider.swiper-cover .swiper-slide {
    width: 240px;
  }
}
@media (min-width: 1544px) and (max-width: 1863px) {
  .game_slider .swiper-slide {
    width: 14.2857142857%;
  }
  .game_slider .swiper-slide:nth-child(9n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(9n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(9n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0;
  }
  .game_slider .swiper-slide:nth-child(9n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
  .gameRanking .swiper-slide {
    padding-left: 7.1428571429%;
    width: 21.4285714286%;
  }
}
@media (min-width: 1864px) and (max-width: 1919px) {
  .game_slider .swiper-slide {
    width: 12.5%;
  }
  .game_slider .swiper-slide:nth-child(10n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(10n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(10n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0;
  }
  .game_slider .swiper-slide:nth-child(10n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
  .gameRanking .swiper-slide {
    padding-left: 6.25%;
    width: 18.75%;
  }
}
@media (min-width: 1864px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 420px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 73%;
  }
}
@media (min-width: 1920px) {
  .tab-game .tab-scroller {
    max-height: 60px;
  }
  .tab-game .tab-inner {
    padding-left: 76.3043478261px;
  }
  .tab-game .tab-search {
    width: 70.4347826087px;
    height: 70.4347826087px;
  }
  .tab-game .icon-mask {
    height: 60px;
  }
  .tab-game .title {
    height: 60px;
  }
  .hero_slider_lobby .swiper-slide {
    max-width: 70%;
  }
  .game_slider .swiper-slide {
    width: 200px;
  }
  .game_slider .swiper-slide:nth-child(10n+1) .game-item-info-detail {
    left: 0;
  }
  .game_slider .swiper-slide:nth-child(10n+1) .game-item-focus:hover .game-item-img {
    left: auto;
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  .game_slider .swiper-slide:nth-child(10n) .game-item-info-detail, .game_slider .swiper-slide:last-child .game-item-info-detail {
    left: auto;
    right: 0;
  }
  .game_slider .swiper-slide:nth-child(10n) .game-item-focus:hover .game-item-img, .game_slider .swiper-slide:last-child .game-item-focus:hover .game-item-img {
    left: auto;
    right: auto;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
  .gameRanking .swiper-slide {
    padding-left: 100px;
    width: 300px;
  }
  .game_slider.swiper-cover .swiper-slide {
    width: 260px;
  }
  .category-dailypush-cotentBox {
    padding: 20px 30px;
    max-width: 360px;
  }
  .category-dailypush-cotentBox .title,
.category-dailypush-cotentBox .gamename {
    font-size: 1.375rem;
  }
  .category-dailypush-cotentBox .action {
    height: 48px;
  }
  .category-dailypush-cotentBox .btn-like {
    width: 48px;
  }
}
@media (min-width: 2560px) {
  .hero_slider_lobby .img-wrap {
    padding-bottom: 570px;
  }
}
@media (max-width: 711px) {
  .tab-game .icon-all-tt::before {
    -webkit-mask-image: url(../images/icon/ico-all-tt-m.svg);
    mask-image: url(../images/icon/ico-all-tt-m.svg);
  }
  .tab-game .icon-hot-tt::before {
    -webkit-mask-image: url(../images/icon/ico-hot-tt-jp-m.svg);
    mask-image: url(../images/icon/ico-hot-tt-jp-m.svg);
  }
  .tab-game .icon-etc-tt::before {
    -webkit-mask-image: url(../images/icon/ico-etc-tt-jp-m.svg);
    mask-image: url(../images/icon/ico-etc-tt-jp-m.svg);
  }
  .tab-game .icon-live-tt::before {
    -webkit-mask-image: url(../images/icon/ico-live-tt-jp-m.svg);
    mask-image: url(../images/icon/ico-live-tt-jp-m.svg);
  }
  .tab-game .icon-slot-tt::before {
    -webkit-mask-image: url(../images/icon/ico-slot-tt-jp-m.svg);
    mask-image: url(../images/icon/ico-slot-tt-jp-m.svg);
  }
  .tab-game .icon-brand-tt::before {
    -webkit-mask-image: url(../images/icon/ico-brand-tt-jp-m.svg);
    mask-image: url(../images/icon/ico-brand-tt-jp-m.svg);
  }
  .tab-game .icon-elec-tt::before {
    -webkit-mask-image: url(../images/icon/ico-elec-tt-m.svg);
    mask-image: url(../images/icon/ico-elec-tt-m.svg);
  }
  .tab-game .icon-poker-tt::before {
    -webkit-mask-image: url(../images/icon/ico-poker-tt-m.svg);
    mask-image: url(../images/icon/ico-poker-tt-m.svg);
  }
  .tab-game .icon-favo-tt::before {
    -webkit-mask-image: url(../images/icon/ico-favo-tt-m.svg);
    mask-image: url(../images/icon/ico-favo-tt-m.svg);
  }
}
@media (max-width: 575px) {
  .gamename {
    min-height: 2.2rem;
  }
  .gamebrand {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 2.625rem;
  }
}
@media screen and (max-width: 320px) {
  .category-dailypush-cotentBox {
    min-width: 150px;
    max-width: 160px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.marquee {
  margin: 5px auto 0;
  padding: 0;
}
.marquee .marquee_bock {
  margin: auto;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}
.marquee .marquee_bock .marquee_title {
  display: inline-block;
  text-align: center;
  padding: 0 5px 0 0;
  vertical-align: top;
  color: #079eb2;
  position: relative;
}
.marquee .marquee_bock .marquee_title .icon-announce {
  width: 32px;
  height: 32px;
  margin-right: 2px;
  float: left;
}
.marquee .marquee_bock .marquee_title .icon-announce:before {
  background-color: #079eb2;
}
.marquee .marquee-content {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  line-height: 24px;
  padding: 4px;
  background: #f3f3f3;
  border-radius: 30px;
}
.marquee .marquee-content .marquee-item {
  padding: 0 5% 0 0;
}
.marquee .marquee-content a {
  width: 100%;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .marquee .marquee_bock .marquee_title h6 {
    display: none;
  }
  .marquee .marquee-content {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 935px) {
  .marquee {
    margin: 8px auto;
  }
  .marquee .marquee-content {
    font-size: 0.875rem;
  }
}