/*=================== fonts ====================*/
/* animation =================================
animation:name duration | timing-function | delay | iteration-count | direction | fill-mode | play-state; */
.article-member-center {
  position: relative;
}

.section-member-profile,
.section-member-activity,
.section-member-wallet-transaction {
  width: 100%;
  margin-bottom: 1.5rem;
}

.btn .icon-mask:before {
  background-color: #fff;
}

.data-item {
  width: 100%;
  padding: 0.5rem;
}
.data-item.name {
  width: 50%;
  -webkit-box-ordinal-group: -3;
      -ms-flex-order: -4;
          order: -4;
}
.data-item.birth {
  width: 50%;
  -webkit-box-ordinal-group: -2;
      -ms-flex-order: -3;
          order: -3;
}
.data-item.currency {
  width: 30%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

input.year {
  width: 33% !important;
}
input.year:-moz-read-only {
  width: 32% !important;
}
input.year:read-only {
  width: 32% !important;
}
input.month, input.day {
  width: 22% !important;
  text-align: center;
}
input.month:-moz-read-only, input.day:-moz-read-only {
  width: 21% !important;
}
input.month:read-only, input.day:read-only {
  width: 21% !important;
}

.sec-col-2 .btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.password-real .data-item-form-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.labels .label {
  color: #fff;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
}
.labels .update {
  background-color: #7ACEA6;
}
.labels .validated {
  background-color: #009FE8;
}
.labels .unvalidated {
  background-color: #EB4900;
}

.section-member-profile .title {
  font-weight: 300;
}

.member-profile-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-bottom: 2.5rem;
}
.member-profile-avater-wrapper {
  margin: 0rem auto 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px 0 10px;
  position: relative;
}
.member-profile-avater-wrapper .avater {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
.member-profile-avater-wrapper .avater-img {
  width: 100%;
  background: #F5A919;
  height: 0;
  padding-bottom: calc(100% - 10px);
  border-radius: 50%;
  border: 5px solid #CC8211;
}
.member-profile-avater-wrapper .avater-img img {
  width: 100%;
}
.member-profile-avater-wrapper .avater .btn {
  position: absolute;
  right: -20px;
  top: 70px;
}
.member-profile-avater-wrapper .avater .icon-mask {
  width: 35px;
  height: 35px;
}
.member-profile-data-wrapper .btn-edit {
  padding: 5px;
}
.member-profile-data-wrapper .btn-edit .icon {
  width: 25px;
  height: 25px;
}
.member-profile-data-wrapper input.custom-input-edit {
  width: 100%;
}
.member-profile-data-wrapper input.custom-input-edit:-moz-read-only {
  border: none;
}
.member-profile-data-wrapper input.custom-input-edit:read-only {
  border: none;
}
.member-profile-data-wrapper .data-item .title-name {
  color: #767676;
}
.member-profile-data-wrapper .data-item .title-name + .btn {
  margin-left: 4px;
}
.member-profile-data-wrapper .data-item-title .icon-mask {
  width: 20px;
  height: 20px;
}
.member-profile-data-wrapper .data-item-title .icon-mask:before {
  background-color: #767676;
}
.member-profile-data-wrapper .data-item-content {
  font-size: 1.125rem;
}
.member-profile-QRcode {
  max-width: 200px;
  margin: 0 auto;
  color: #fff;
}
.member-profile-QRcode .qrcode-img {
  margin: 0 auto;
  max-width: 150px;
  margin-bottom: 10px;
}
.member-profile-QRcode .qrcode-img img {
  width: 100%;
}
.member-profile-QRcode .qrcode-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3A9AA0;
  border-radius: 30px;
  padding: 0.2em 1em;
  font-size: 0.7em;
}
.member-profile-QRcode .qrcode-number .icon {
  width: 20px;
  height: 20px;
}

.member-profile-level-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}
.member-profile-level-wrapper .title {
  font-size: 0.9375rem;
  color: #8A8A8A;
}
.member-profile-level-wrapper .value {
  font-size: 0.9375rem;
  color: #474747;
  font-weight: 500;
}
.member-profile-level-wrapper .level-rules .level-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.member-profile-level-wrapper .progress {
  background-color: #D6D6D6;
  margin-bottom: 0.5rem;
}
.member-profile-level-wrapper .member-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.member-profile-level-wrapper .member-level .btn {
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.member-level-upgrade-wrapper {
  margin-bottom: 1rem;
}
.member-level-upgrade-wrapper .level-progress {
  position: relative;
}
.member-level-upgrade-wrapper .level-progress.progress {
  min-height: 22px;
}
.member-level-upgrade-wrapper .level-progress .progress-bar {
  background-color: #F5A919;
}
.member-level-upgrade-wrapper .member-level {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.member-level-reservation-wrapper .sec-title {
  font-weight: 500;
}
.member-level-reservation-wrapper .sec-title .title {
  font-weight: 500;
}
.member-level-reservation-wrapper .title {
  color: #404040 !important;
}
.member-level-reservation-wrapper .progress {
  height: 0.625rem;
  border-radius: 10px;
}
.member-level-reservation-wrapper .progress-bar {
  background-color: #036EB7;
}

.member-wallet-wrapper {
  background-color: rgba(81, 189, 139, 0.7);
  background-image: url(../images/theme/bg_dog_white.png);
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  min-height: 185px;
  height: 100%;
  border-radius: 10px;
  position: relative;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.member-wallet-inner {
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  background: rgba(81, 189, 139, 0.8);
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.member-wallet-inner > * {
  width: 100%;
}
.member-wallet-title {
  margin-bottom: 10px;
}
.member-wallet-contnet {
  padding: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  height: 70%;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.member-wallet-contnet::after {
  content: "";
  display: inline-block;
  width: 60%;
  max-width: 220px;
  height: calc(100% + 25px);
  height: 100%;
  position: absolute;
  position: relative;
  top: -25%;
  right: -5%;
  background: url(../images/icon/ico-dog-w-shadow.svg) center top no-repeat;
  background-size: contain;
}
.member-wallet-contnet:hover {
  background-color: rgba(0, 0, 0, 0.45);
}
.member-wallet-detail {
  width: 70%;
}
.member-wallet-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 65%;
  padding-right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.member-wallet-amount .unit {
  font-size: 1.125rem;
}
.member-wallet-amount .amount {
  font-size: 1.375rem;
  font-weight: 500;
}
.member-wallet-amount .member-deposit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.member-wallet-amount .btn-deposit {
  width: 36px;
  height: 36px;
  margin-left: 0.5em;
}

.sec-title-container .btn-addcard .btn-round {
  margin-right: 0.35rem;
}

.section-cashflow-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  overflow: hidden;
}
.section-cashflow-card .btn-addcard {
  color: initial !important;
  font-weight: 300;
}

.cashflowCard-wrapper {
  background-color: #F3F3F3;
  border-radius: 30px;
  padding: 20px 20px 20px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cashflowCard-noCard {
  width: 100%;
}
.cashflowCard-noCard .card-item {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}
.cashflowCard-noCard .card-item .btn {
  width: 100%;
  background: #ffffff;
  border: 1px dashed #636363;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  min-height: 200px;
}
.cashflowCard-noCard .card-item .name {
  margin-top: 1rem;
}

.cashflowCard-slider-wrapper {
  width: 100%;
  height: 100%;
}
.cashflowCard-slider-inner {
  height: 100%;
}

.cashflowCard-slider {
  padding-bottom: 75px;
}
.cashflowCard-slider.swiper-container {
  overflow: visible;
  width: 100%;
}
.cashflowCard-slider .swiper-slide {
  padding: 0 10px;
  height: auto;
  -webkit-transform: scale(0.85, 0.85);
          transform: scale(0.85, 0.85);
  width: 80% !important;
  max-width: 360px;
  opacity: 0.5;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
.cashflowCard-slider .swiper-slide:only-child {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  opacity: 1;
  margin: 0 auto;
}
.cashflowCard-slider .swiper-slide-active {
  -webkit-transform: scale(1.12, 1.12);
          transform: scale(1.12, 1.12);
  opacity: 1;
}
.cashflowCard-slider .bankcard .card-item {
  background: linear-gradient(107.89deg, #0180A2 1.19%, #0185A7 25.54%, #0098C8 101.21%);
}
.cashflowCard-slider .bankcard .branch {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cashflowCard-slider .bankcard .branch::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #9ADDE7;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0.45rem;
}
.cashflowCard-slider .gcash .card-item {
  background: linear-gradient(107.89deg, #1265BD -0.39%, #197CE3 101.21%);
}
.cashflowCard-slider .gcash .card-info .icon-mask {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 4px;
}
.cashflowCard-slider .gcash .card-info .icon-mask:before {
  background-color: rgba(255, 209, 155, 0.75);
}
.cashflowCard-slider .custom-control,
.cashflowCard-slider .custom-label {
  height: 100%;
}
.cashflowCard-slider .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  color: #fff;
  padding: 20px 15px;
  position: relative;
  overflow: hidden;
}
.cashflowCard-slider .card-item * {
  font-weight: 300;
  font-size: inherit;
}
.cashflowCard-slider .card-item::after {
  content: attr(data-card-num);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.21);
  right: 15px;
  top: 0;
  padding: 20px 10px;
  border-radius: 0 0 30px 30px;
}
.cashflowCard-slider .card-item::before {
  content: "";
  width: 120%;
  height: 0;
  padding-bottom: 120%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: -25%;
  bottom: -165%;
}
.cashflowCard-slider .card-item-inner {
  width: calc(100% - 50px);
}
.cashflowCard-slider .card-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.cashflowCard-slider .card-type .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cashflowCard-slider .card-type .icon {
  width: 30px;
  height: 30px;
}
.cashflowCard-slider .card-status {
  font-size: 0.75rem;
  color: #FFD19B;
}
.cashflowCard-slider .card-name {
  font-size: 1.125rem;
}
.cashflowCard-slider .card-account {
  margin: 15px 0;
  font-size: 1.25rem;
}
.cashflowCard-slider .card-bank .bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  color: #F2F0F0;
}
.cashflowCard-slider .card-bank .account-name {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.75);
}
.cashflowCard-slider .btn-delete {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.cashflowCard-slider .btn-delete .icon-mask {
  width: 100%;
  height: 100%;
}
.cashflowCard-slider .btn-delete .icon-mask:before {
  background-color: rgba(0, 0, 0, 0.55);
}
.cashflowCard-slider .btn-delete:hover {
  background-color: rgba(0, 0, 0, 0.45);
}
.cashflowCard-slider .btn-delete:hover .icon-mask:before {
  background-color: rgba(255, 255, 255, 0.95);
}
.cashflowCard-slider .card-info .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.cashflowCard-slider .icon-mask:before {
  background-color: #fff;
}
.cashflowCard-slider .swiper-pagination {
  bottom: 0;
}
.cashflowCard-slider .swiper-pagination-bullet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: #666666;
  background: #F7F7F7;
  border: 1px solid rgba(129, 146, 164, 0.8);
  opacity: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cashflowCard-slider .swiper-pagination-bullet-active {
  background: linear-gradient(130.55deg, #31AAB1 0%, #1F9299 100%), #3A9AA0;
  border: 1px solid #308D93;
  color: #ffffff;
}

.member-record-wrapper {
  background: #44956E;
  padding: 0 10px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.member-record-wrapper .btn {
  padding-top: 0;
  padding-bottom: 0;
}
.member-record-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.member-record-title .icon {
  width: 45px;
  height: 45px;
}
.member-record-title .icon:before {
  background-color: #fff;
}
.member-record-title .title {
  font-size: 1.25rem;
}

.activity-dailylogin-wrapper {
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}

.btn-addcard .btn-round {
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.activity-center-wrapper .title {
  font-size: 1.625rem;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
.activity-center-wrapper .btn-activity-in {
  background-color: #ffffff;
  color: #E7211A;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 30px;
  width: 100%;
}
.activity-center-content {
  position: absolute;
  bottom: 10px;
}
.activity-center-inner {
  background-color: #F5A919;
  background-image: url(../images/theme/bg_dog_white.png), url(../images/member/bg_activity.svg);
  background-position: center center, 100% 120%;
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 100px;
  cursor: pointer;
  min-height: 120px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  padding: 10px;
}

.prize-center-wrapper .title {
  font-size: 1.375rem;
  color: #fff;
  position: absolute;
  bottom: 20px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  max-width: 5.5rem;
}
.prize-center-inner {
  background-color: #D8BF8F;
  background-image: url(../images/member/gril-doubt-M.svg);
  background-position: calc(100% + 30px) calc(50% + 10px);
  background-repeat: no-repeat;
  background-size: auto 160%;
  cursor: pointer;
  min-height: 120px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  padding: 10px;
}

.memberLevelCard-slider-wrapper {
  position: relative;
  margin: 0 auto;
}
.memberLevelCard-slider-wrapper .swiper-button-next,
.memberLevelCard-slider-wrapper .swiper-button-prev {
  top: 20%;
  width: 15px;
  height: 30px;
}
.memberLevelCard-slider-wrapper .swiper-button-next:after,
.memberLevelCard-slider-wrapper .swiper-button-prev:after {
  width: 100%;
  height: 100%;
  content: "";
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-position: center center;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #804F21;
}
.memberLevelCard-slider-wrapper .swiper-button-prev {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  left: -1.3rem;
}
.memberLevelCard-slider-wrapper .swiper-button-prev:after {
  -webkit-mask-image: url(../images/icon/ico-arrow-L.svg);
  mask-image: url(../images/icon/ico-arrow-L.svg);
}
.memberLevelCard-slider-wrapper .swiper-button-next {
  right: -1.3rem;
}
.memberLevelCard-slider-wrapper .swiper-button-next:after {
  -webkit-mask-image: url(../images/icon/ico-arrow-L.svg);
  mask-image: url(../images/icon/ico-arrow-L.svg);
}
.memberLevelCard-slider * {
  font-size: initial;
}
.memberLevelCard-slider .swiper-slide {
  padding: 0 0.5rem;
}
.memberLevelCard-slider .card-item {
  position: relative;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 2.5rem;
}
.memberLevelCard-slider .card-item::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 18%;
  height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  position: absolute;
  right: 30px;
  top: 5px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.memberLevelCard-slider .card-item .member-level {
  color: #A85400;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.memberLevelCard-slider .card-item .member-bouns {
  margin-bottom: 0.5rem;
}
.memberLevelCard-slider .card-item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}
.memberLevelCard-slider .card-item .item .title {
  color: #707070;
  font-size: 0.8125rem;
  width: 70%;
}
.memberLevelCard-slider .card-item .item .value {
  font-weight: 500;
  font-size: 0.84375rem;
}
.memberLevelCard-slider .memberlevel-rules * {
  font-size: 0.875rem;
}
.memberLevelCard-slider .memberlevel-rules .thead {
  background-color: #494949;
  color: #E69D00;
  text-align: center;
  padding: 5px 0;
  font-weight: 500;
  font-size: 0.9375rem;
}
.memberLevelCard-slider .memberlevel-rules .tbody {
  padding: 10px;
}
.memberLevelCard-slider .memberlevel-rules .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 0;
}
.memberLevelCard-slider .memberlevel-rules .value {
  color: #C6341D;
  font-weight: 600;
}
.memberLevelCard-slider .memberlevel-wrapper {
  background: #D9D9D9;
  border-radius: 15px;
  overflow: hidden;
}
@media (min-width: 992px) {
  .memberLevelCard-slider .memberlevel-rules {
    display: none;
  }
}
.memberLevelCard-slider .swiper-slide.swiper-slide-active .card-item {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.memberLevelCard-slider .m-normal .card-item {
  background: linear-gradient(114.06deg, #D3D3D3 2.04%, #939393 97.42%);
}
.memberLevelCard-slider .m-normal .card-item::before {
  background-image: url(../images/member/card-label-normal.png);
}
.memberLevelCard-slider .m-bronze .card-item {
  background: linear-gradient(114.06deg, #4BEFD1 49.97%, #E39600 97.42%);
}
.memberLevelCard-slider .m-bronze .card-item::before {
  background-image: url(../images/member/card-label-bronze.png);
}
.memberLevelCard-slider .m-silver .card-item {
  background: linear-gradient(114.06deg, #D7D7D7 49.97%, #969696 97.42%);
}
.memberLevelCard-slider .m-silver .card-item::before {
  background-image: url(../images/member/card-label-silver.png);
}
.memberLevelCard-slider .m-gold .card-item,
.memberLevelCard-slider .m-warrior .card-item {
  background: linear-gradient(114.06deg, #F3CD1F 49.97%, #E69D00 97.42%);
}
.memberLevelCard-slider .m-gold .card-item::before,
.memberLevelCard-slider .m-warrior .card-item::before {
  background-image: url(../images/member/card-label-gold.png);
}
.memberLevelCard-slider .m-platinum .card-item {
  background: linear-gradient(114.06deg, #B8D8E7 2.04%, #B7B7B7 97.42%);
}
.memberLevelCard-slider .m-platinum .card-item::before {
  background-image: url(../images/member/card-label-platinum.png);
}
.memberLevelCard-slider .m-diamond .card-item {
  background: linear-gradient(114.06deg, #B8D8E7 2.04%, #8EE1F0 97.42%);
}
.memberLevelCard-slider .m-diamond .card-item::before {
  background-image: url(../images/member/card-label-diamond.png);
}
.memberLevelCard-slider .m-elite .card-item,
.memberLevelCard-slider .m-S-diamond .card-item {
  background: linear-gradient(114.06deg, #B8D8E7 49.97%, #637B94 97.42%);
}
.memberLevelCard-slider .m-elite .card-item::before,
.memberLevelCard-slider .m-S-diamond .card-item::before {
  background-image: url(../images/member/card-label-Sdiamond.png);
}
.memberLevelCard-slider .m-G-diamond .card-item {
  background: linear-gradient(114.06deg, #B8D8E7 49.97%, #FCCE2A 97.42%);
}
.memberLevelCard-slider .m-G-diamond .card-item::before {
  background-image: url(../images/member/card-label-Gdiamond.png);
}
.memberLevelCard-slider .m-master .card-item,
.memberLevelCard-slider .m-starlight .card-item {
  background: linear-gradient(114.06deg, #BEE8FF 49.97%, #00ABD3 97.42%);
}
.memberLevelCard-slider .m-master .card-item::before,
.memberLevelCard-slider .m-starlight .card-item::before {
  background-image: url(../images/member/card-label-starlight.png);
}
.memberLevelCard-slider .m-grandmaster .card-item,
.memberLevelCard-slider .m-eternal .card-item {
  background: linear-gradient(114.06deg, #E3BBE4 49.97%, #7B687B 97.42%);
}
.memberLevelCard-slider .m-grandmaster .card-item::before,
.memberLevelCard-slider .m-eternal .card-item::before {
  background-image: url(../images/member/card-label-eternal.png);
}
.memberLevelCard-slider .m-epic .card-item,
.memberLevelCard-slider .m-legend .card-item {
  background: linear-gradient(114.06deg, #74CDFF 9.03%, #FFAF9D 49.97%, #E497FF 97.42%);
}
.memberLevelCard-slider .m-epic .card-item::before,
.memberLevelCard-slider .m-legend .card-item::before {
  background-image: url(../images/member/card-label-legend.png);
}

.card-thumb-wrapper {
  overflow-x: hidden;
  margin-bottom: 1.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(60%, white), color-stop(60%, #C1C1C1), color-stop(61%, #C1C1C1), to(white));
  background: linear-gradient(360deg, white 0%, white 60%, #C1C1C1 60%, #C1C1C1 61%, white 100%);
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 10px 10px;
  position: sticky;
  top: -1rem;
  z-index: 99;
}
.card-thumb-wrapper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.card-thumb-wrapper .swiper-slide {
  width: auto;
  max-width: 85px;
  padding: 8px;
}
.card-thumb-wrapper .thumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
}
.card-thumb-wrapper .thumb-item .img-crop {
  position: relative;
}
.card-thumb-wrapper .thumb-item .img-crop:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 0;
  padding-bottom: 101%;
  background: url(../images/member/card-thumb-default.png) center top no-repeat;
  background-size: contain;
}
.card-thumb-wrapper .thumb-item .level {
  font-size: 0.8125rem;
  color: #8A8A8A;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
}
.card-thumb-wrapper .swiper-slide-thumb-active .img-crop:after {
  opacity: 0;
}
.card-thumb-wrapper .swiper-slide-thumb-active .thumb-item .level {
  font-size: 0.875rem;
  color: #666666;
  font-weight: 500;
}
@media (hover: hover) {
  .card-thumb-wrapper .thumb-item:hover .img-crop:after {
    opacity: 0;
  }
  .card-thumb-wrapper .thumb-item:hover .level {
    color: #666666;
  }
}

.MT-table-wrapper {
  overflow-x: auto;
  display: none;
}
@media (min-width: 992px) {
  .MT-table-wrapper {
    display: block;
  }
}

.memberlevel-table .Thead .thead__th {
  background-color: #CFCFCF;
  color: inherit;
}
.memberlevel-table .Tbody .tbody__tr .tbody__td:first-child {
  color: #6e0000;
}
.memberlevel-table .Tbody .tbody__tr:nth-child(2n) {
  background-color: #f1f1f1;
}

.notice-wrapper {
  margin-top: 2rem;
  font-weight: 300;
}
.notice-wrapper .notice-list .item {
  text-indent: -1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.activity-dailylogin-wrapper {
  position: relative;
}

.dailylogin-bouns-wrapper {
  margin-bottom: 25px;
  cursor: pointer;
}
.dailylogin-bouns-inner {
  border-radius: 20px;
}
.dailylogin-bouns-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.dailylogin-bouns-content .sec-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
}
.dailylogin-bouns-content .dailylogin-bouns-QA {
  font-size: 0.75rem;
  color: #A5A5A5;
  cursor: pointer;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  margin-left: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dailylogin-bouns-content .dailylogin-bouns-QA:hover {
  color: #e83e8c;
  font-size: 0.85rem;
}
.dailylogin-bouns-content .dailylogin-bouns-QA .icon-mask {
  margin-right: 0;
}
.dailylogin-bouns-content .dailylogin-bouns-QA .icon-mask:before {
  background-color: #fff;
}
.dailylogin-bouns-content .btn-QA-dailylogin-bouns {
  width: 26px;
  height: 26px;
  margin-right: 0.3rem;
}
.dailylogin-bouns-content .title {
  position: relative;
}
.dailylogin-bouns-content .title:before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  z-index: 1;
}
.dailylogin-bouns-list {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 6px;
}
.dailylogin-bouns-list .bouns-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 14.2857142857%;
  z-index: 1;
}
.dailylogin-bouns-list .bouns-item:before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 0;
  padding-bottom: 110%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.dailylogin-bouns-list .bouns-item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 0;
  padding-bottom: 110%;
  background-color: #dbdbdb;
  mix-blend-mode: color;
  -webkit-mask-position: center bottom;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-position: center bottom;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-image: url(../images/prize/obj-coin-bouns.svg);
  mask-image: url(.../images/prize/obj-coin-bouns.svg);
  margin: 0 auto;
}
.dailylogin-bouns-list .bouns-item:nth-child(1):before {
  background-image: url(../images/prize/icon-model-wizard.svg);
  padding-bottom: 150%;
  top: 1.5px;
}
.dailylogin-bouns-list .bouns-item:nth-child(1):after {
  -webkit-mask-image: url(../images/prize/icon-model-wizard.svg);
  mask-image: url(../images/prize/icon-model-wizard.svg);
  padding-bottom: 150%;
  bottom: -1.5px;
}
.dailylogin-bouns-list .bouns-item:nth-child(2):before {
  background-image: url(../images/prize/icon-model-warrior.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(2):after {
  -webkit-mask-image: url(../images/prize/icon-model-warrior.svg);
  mask-image: url(../images/prize/icon-model-warrior.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(3):before {
  background-image: url(../images/prize/icon-model-musician.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(3):after {
  -webkit-mask-image: url(../images/prize/icon-model-musician.svg);
  mask-image: url(../images/prize/icon-model-musician.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(4):before {
  background-image: url(../images/prize/icon-model-archer.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(4):after {
  -webkit-mask-image: url(../images/prize/icon-model-archer.svg);
  mask-image: url(../images/prize/icon-model-archer.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(5):before {
  background-image: url(../images/prize/icon-model-mars.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(5):after {
  -webkit-mask-image: url(../images/prize/icon-model-mars.svg);
  mask-image: url(../images/prize/icon-model-mars.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(6):before {
  background-image: url(../images/prize/icon-model-magician.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(6):after {
  -webkit-mask-image: url(../images/prize/icon-model-magician.svg);
  mask-image: url(../images/prize/icon-model-magician.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(7):before {
  background-image: url(../images/prize/icon-model-bomber.svg);
}
.dailylogin-bouns-list .bouns-item:nth-child(7):after {
  -webkit-mask-image: url(../images/prize/icon-model-bomber.svg);
  mask-image: url(../images/prize/icon-model-bomber.svg);
}
.dailylogin-bouns-list .bouns-item.got:after {
  opacity: 0;
}
.dailylogin-bouns-list .bouns-item .day {
  position: relative;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 85%;
  max-width: 54px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.75rem;
  padding: 3px 0;
  margin-bottom: 6px;
  background: #FFE9A8;
  border: 2px solid #E69D00;
  border-radius: 13px;
  margin-bottom: 8px;
  text-align: center;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 3px;
}
.dailylogin-bouns-list .bouns-item .day:before {
  content: "";
  position: absolute;
  bottom: -11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #E69D00 transparent transparent transparent;
}
.dailylogin-bouns-list .bouns-item .day:after {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #FFE9A8 transparent transparent transparent;
}
.dailylogin-bouns-list .bouns-item.saturday {
  color: #009FE8;
}
.dailylogin-bouns-list .bouns-item.sunday {
  color: #ff0000;
}
.dailylogin-bouns-amount {
  width: 100%;
  background-color: #A79C8E;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  text-align: center;
  padding: 10px 0;
}
.dailylogin-bouns-amount .bouns-amount {
  font-size: 1.5rem;
  font-weight: 700;
}

.member-withdraw-limit-inner {
  min-height: 185px;
  height: 100%;
  border-radius: 10px;
  position: relative;
  color: #fff;
  background-position: center top;
}
.member-withdraw-limit-inner:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/theme/bg_dog_white.png);
  background-position: center center;
  opacity: 0.3;
}
.member-withdraw-limit-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.member-withdraw-limit-hint {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  height: 70%;
}
.member-withdraw-limit-hint:before {
  content: "";
  display: block;
  position: relative;
  top: -15px;
  width: 80%;
  max-width: 220px;
  margin: 0 auto;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  height: 100%;
  min-height: 130px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.member-withdraw-limit-detail {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  height: 30%;
  max-height: 70px;
  background-color: rgba(39, 38, 37, 0.8);
  z-index: 1;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.member-withdraw-wrapper .limit-wrapper {
  width: 90%;
  max-width: 300px;
}
.member-withdraw-wrapper .limit-status, .member-withdraw-wrapper .limit-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75rem;
}
.member-withdraw-wrapper .limit-status {
  margin-bottom: 0.1rem;
}
.member-withdraw-wrapper .limit-status .value {
  color: #FAC823;
  display: none;
}
.member-withdraw-wrapper .limit-amount .value {
  font-size: 1.0625rem;
  font-weight: 700;
}
.member-withdraw-wrapper.lacking .member-withdraw-limit-inner {
  background-color: #074B57;
  /* Old browsers */
  background: -webkit-gradient(linear, left bottom, left top, from(#074B57), to(#009ED0));
  background: linear-gradient(0deg, #074B57, #009ED0);
}
.member-withdraw-wrapper.lacking .limit-status .value.lacking {
  display: initial;
}
.member-withdraw-wrapper.lacking .member-withdraw-limit-hint:before {
  background-image: url(../images/member/dog-sad.svg);
}
.member-withdraw-wrapper.enough .member-withdraw-limit-inner {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#E69D00), to(#E69D00));
  background-image: linear-gradient(0deg, #E69D00 0%, #E69D00 100%);
}
.member-withdraw-wrapper.enough .limit-status .value.enough {
  display: initial;
}
.member-withdraw-wrapper.enough .member-withdraw-limit-hint:before {
  background-image: url(../images/member/dog-happy.svg);
}

.activity-promo-wrapper {
  margin-top: 2rem;
}
.activity-promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
.activity-promo-list .promo-item {
  padding: 0 10px;
  width: 50%;
}
.activity-promo-list .promo-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.activity-promo-list .promo-img {
  background-color: #333;
}
.activity-promo-list .promo-img:hover img {
  opacity: 0.5;
}
.activity-promo-list .promo-content {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.activity-promo-list .promo-content .title {
  font-size: 0.9375rem;
}
.activity-promo-list .promo-content .btn {
  color: #fff;
  width: 100%;
  margin-top: 1rem;
}
.activity-promo-list .promo-content .btn .icon {
  width: 26px;
  height: 26px;
}

.data-item-group .wrapper_center {
  width: 100%;
}
.data-item-group .wrapper_center .btn {
  max-width: 300px;
  border-radius: 30px;
}

.form-title {
  position: absolute;
  top: -0.75em;
  left: 0.9em;
  z-index: 10;
  margin: 0;
  padding: 0 0.4em;
  font-size: 0.8125em;
  color: #2C2D3A;
  background-color: #fff;
}

.custom-style {
  height: 50px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn-Q-mark {
  width: 24px;
  height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 7px;
  white-space: normal;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8D8C8D;
  color: #fff;
}
.btn-Q-mark .icon-mask:before {
  background-color: #fff !important;
}
.btn-Q-mark.btn-sm {
  width: 20px;
  height: 20px;
}
.btn-Q-mark.btn-sm .icon-mask {
  width: 16px;
  height: 16px;
}
.btn-Q-mark:hover {
  background-color: #747274;
}

.verify-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.verify-result .label {
  width: 26px;
  height: 26px;
}
.verify-result.fail {
  color: #C30D23;
}
.verify-result .icon-mask {
  width: 24px;
  height: 24px;
}

.verify-desc {
  margin: 0 6px;
}

.btn-verify {
  background-color: #C30D23;
  border-radius: 30px;
  color: #fff;
  font-weight: 300;
  font-size: 0.75rem;
  padding: 2px 10px;
}
.btn-verify .icon {
  margin-left: 4px;
  padding-left: 4px;
  border-left: solid 1px rgba(255, 255, 255, 0.3);
}
.btn-verify .icon-mask {
  width: 1.5rem;
  height: 1.5rem;
}

.registerComplete-popup-wrapper {
  margin: 20px 0;
}
.registerComplete-popup-wrapper .form-group {
  position: relative;
  margin: 0 auto 24px;
}
.registerComplete-popup-wrapper .wrapper_center {
  margin: 20px 0 30px;
}
.registerComplete-popup-wrapper .btn {
  max-width: 300px;
}

.modalMemberLevel .modal-body {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .cashflowCard-wrapper {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .dailylogin-bouns-inner::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 53px;
    border-radius: 10px 10px 0 0;
    background-color: #fff6e4;
    /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(17.71%, #fff6e4), color-stop(83.85%, #d8bf8f));
    background: linear-gradient(180deg, #fff6e4 17.71%, #d8bf8f 83.85%);
  }
  .dailylogin-bouns-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 50px;
  }
  .dailylogin-bouns-content .title {
    position: relative;
    bottom: -10px;
    width: 30%;
    height: 130px;
    width: 191.0204081633px;
  }
  .dailylogin-bouns-content .title:before {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 100%;
    background: url(../images/prize/obj-dailylogin-dialog.svg) left bottom no-repeat;
    background-size: contain;
    z-index: 1;
    left: 0;
  }
  .dailylogin-bouns-content .title .name {
    position: absolute;
    width: 90%;
    left: 0;
    width: 5em;
    z-index: 2;
    font-size: 0.6em;
    margin: 0 auto;
    top: 25px;
    font-weight: 900;
    z-index: 1;
    margin-left: 46%;
  }
  .dailylogin-bouns-content .title .name span {
    display: block;
  }
  .dailylogin-bouns-content .dailylogin-bouns-QA {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 33px;
    color: inherit;
  }
  .dailylogin-bouns-content .btn-QA-dailylogin-bouns {
    width: 22px;
    height: 22px;
  }
  .dailylogin-bouns-list {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 640px;
    right: 0;
    top: 3px;
  }
  .dailylogin-bouns-list:after {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: calc(100% + 10px);
    height: 10px;
    background: #4288C9;
    z-index: 0;
    border-radius: 5px 0 0 5px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .dailylogin-bouns-list .bouns-item .day {
    position: absolute;
    top: 10px;
  }
}
@media (min-width: 640px) {
  .section-member-wallet-transaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-member-wallet-transaction .member-wallet-deposit-wrapper,
.section-member-wallet-transaction .member-withdraw-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .section-member-wallet-transaction .member-wallet-deposit-wrapper {
    padding-right: 0.4rem;
  }
  .section-member-wallet-transaction .member-withdraw-wrapper {
    padding-left: 0.4rem;
  }

  .member-profile-avater-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 185px;
            flex: 0 0 185px;
  }

  .activity-record-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .activity-center-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 5px;
  }

  .prize-center-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 5px;
  }

  .activity-promo-list .promo-item {
    width: 33.3333333333%;
  }
}
@media (min-width: 712px) {
  .data-item.name {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .data-item.birth {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .data-item.currency {
    width: 22.5%;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .data-item.email {
    width: 45%;
  }
  .data-item.verify {
    width: 50%;
  }
  .data-item.mobile {
    width: 50%;
  }
  .data-item.home, .data-item.news {
    width: 100%;
  }
  .data-item.qrcode {
    width: 100%;
    right: 0;
  }

  .prize-center-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  .prize-center-inner {
    background-image: url(../images/member/gril-doubt-L.svg);
    background-position: center center;
    background-position: calc(100% + 30px) calc(50% - 10px);
    background-size: auto 180%;
  }
}
@media (min-width: 936px) {
  .activity-promo-list .promo-item {
    width: 25%;
  }

  .memberLevelCard-slider {
    padding: 50px 0;
  }
  .memberLevelCard-slider .swiper-slide {
    padding: 0;
    opacity: 0.5;
    -webkit-transition: -webkit-transform 0.35s ease-in-out;
    transition: -webkit-transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  }
  .memberLevelCard-slider .swiper-slide.swiper-slide-active {
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    z-index: 2;
  }
  .memberLevelCard-slider-wrapper .swiper-button-next,
.memberLevelCard-slider-wrapper .swiper-button-prev {
    top: 45%;
    width: 15px;
    height: 30px;
  }

  .modalMemberLevel .modal-body {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .card-thumb-wrapper {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .card-thumb-wrapper .swiper-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-thumb-wrapper .swiper-slide {
    width: 9.0909090909%;
    max-width: none;
  }
}
@media (min-width: 992px) {
  .data-item.name {
    width: 33.3333333333%;
    width: 40%;
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
  }
  .data-item.password {
    width: 30%;
  }
  .data-item.birth {
    width: 30%;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .data-item.verify {
    width: 40%;
  }
  .data-item.mobile {
    width: 33.3333333333%;
    width: 30%;
  }
  .data-item.email {
    width: 33.3333333333%;
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .section-member-profile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .member-profile-avater-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 175px;
            flex: 0 0 175px;
    padding-right: 3rem;
  }
  .member-profile-data-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .member-profile-wrapper {
    width: 33%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding-right: 20px;
  }

  .data-item.currency {
    width: 40%;
  }
  .data-item.home, .data-item.news {
    width: 100%;
  }
}
@media (min-width: 1384px) {
  .memberLevelCard-slider-wrapper .swiper-button-next,
.memberLevelCard-slider-wrapper .swiper-button-prev {
    top: 45%;
    width: 35px;
    height: 60px;
  }
  .memberLevelCard-slider-wrapper .swiper-button-prev {
    left: -3.7rem;
  }
  .memberLevelCard-slider-wrapper .swiper-button-next {
    right: -3.7rem;
  }

  .modalMemberLevel .modal-body {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  .card-thumb-wrapper {
    margin-left: -4.5rem;
    margin-right: -4.5rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  .article-member-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .section-member-wallet {
    width: 100%;
  }

  .member-withdraw-limit-wrapper {
    min-height: 300px;
  }
  .member-withdraw-limit-content .limit-amount {
    width: 100%;
  }

  .activity-promo-wrapper {
    padding-left: 150px;
  }
  .activity-promo-list .promo-item {
    width: 25%;
  }
}
@media (min-width: 1440px) {
  .data-item.name {
    width: 35%;
  }
  .data-item.birth {
    width: 35%;
  }
  .data-item.verify {
    width: 50%;
  }
  .data-item.mobile {
    width: 50%;
  }
  .data-item.email {
    width: 100%;
  }
  .data-item.qrcode {
    width: 30%;
    position: relative;
    right: 0;
    margin-bottom: 0;
  }

  .data-item-group {
    width: 70%;
  }

  .member-profile-wrapper {
    width: 36%;
    padding-right: 50px;
  }

  .tab-member-wrapper {
    display: none;
  }

  .section-member-wallet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .sec-title-member-wallet {
    margin-bottom: 1.2rem;
  }

  .section-member-wallet-transaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 500px;
            flex: 0 0 500px;
    padding-right: 60px;
    margin-bottom: 0;
  }
  .section-member-wallet-transaction .member-wallet-deposit-wrapper {
    padding-right: 0;
  }
  .section-member-wallet-transaction .member-withdraw-wrapper {
    padding-left: 0;
    margin-top: 20px;
  }

  .section-cashflow-card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
  }
  .section-cashflow-card .swiper-pagination {
    top: 0;
    bottom: auto;
  }
  .section-cashflow-card .swiper-pagination-bullet {
    width: 36px;
    height: 36px;
  }

  .cashflowCard-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-bottom: 0;
    padding-top: 50px;
  }
  .cashflowCard-slider .swiper-wrapper {
    max-height: 180px;
  }
}
@media screen and (max-width: 1439px) {
  .section-member-wallet {
    display: none;
  }

  .sec-title-member-wallet {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  .data-item-group .wrapper_center {
    margin-bottom: 2.5rem;
  }

  .coming-soon:after {
    background-size: 65%;
  }

  .data-item.name {
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
  }
  .data-item.birth {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .data-item.currency {
    width: 30%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media screen and (max-width: 575px) {
  .section-cashflow-card {
    background-color: #F3F3F3;
    border-radius: 30px;
    padding: 10px 15px;
  }
  .section-cashflow-card .sec-title-container {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }
  .section-cashflow-card .sec-title-container .name {
    display: none;
  }

  .dailylogin-bouns-inner {
    padding: 50px 10px 10px;
    border-radius: 20px;
    background-color: #A79C8E;
    /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#A79C8E), to(#A79C8E));
    background: linear-gradient(180deg, #A79C8E 0%, #A79C8E 100%);
  }
  .dailylogin-bouns-content {
    background-color: #fff;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .dailylogin-bouns-content .sec-title {
    position: absolute;
    width: 100%;
    top: -55px;
  }
  .dailylogin-bouns-content .title {
    color: #fff;
    text-shadow: 0px 0px 5px #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dailylogin-bouns-content .title:before {
    height: 60px;
    width: 103.9285714286px;
    background: url(../images/prize/obj-golden-bag-dog.svg) left center no-repeat;
    background-size: contain;
  }
  .dailylogin-bouns-content .title:after {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 15px;
    background: #4288C9;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .dailylogin-bouns-content .title .name {
    position: relative;
    z-index: 1;
    padding-left: 0px;
    font-size: 1.125rem;
  }
  .dailylogin-bouns-list {
    width: 100%;
    min-height: 100px;
  }
  .dailylogin-bouns-list .bouns-item .day {
    max-height: 42px;
  }
  .dailylogin-bouns-list .bouns-item .day:nth-child(1) {
    position: absolute;
    top: 0;
  }
  .dailylogin-bouns-amount {
    width: calc(100% + 20px);
    left: -10px;
    bottom: -10px;
    padding: 15px 0 5px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 20px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 20px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 40px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 40px;
  }
}
@-webkit-keyframes crossLeft {
  0% {
    -webkit-transform: scale(0, 0) rotate(-45deg);
            transform: scale(0, 0) rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1) rotate(-45deg);
            transform: scale(1, 1) rotate(-45deg);
    opacity: 1;
  }
}
@keyframes crossLeft {
  0% {
    -webkit-transform: scale(0, 0) rotate(-45deg);
            transform: scale(0, 0) rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1) rotate(-45deg);
            transform: scale(1, 1) rotate(-45deg);
    opacity: 1;
  }
}
@-webkit-keyframes crossRight {
  0% {
    -webkit-transform: scale(0, 0) rotate(45deg);
            transform: scale(0, 0) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1) rotate(45deg);
            transform: scale(1, 1) rotate(45deg);
    opacity: 1;
  }
}
@keyframes crossRight {
  0% {
    -webkit-transform: scale(0, 0) rotate(45deg);
            transform: scale(0, 0) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1) rotate(45deg);
            transform: scale(1, 1) rotate(45deg);
    opacity: 1;
  }
}