@import "../base/base";

//activity-item 共用 ----------------
.activity-item{
    padding: 10px;
    width: 100%;    

    &-group{
        display: flex;
        flex-wrap: wrap;
    }
   

    &-inner{
        position: relative;
        height: 100%;
        
    }

    &-link{
        cursor: pointer;
        border-radius: font-resize(15px);
        box-shadow: 3px 3px 4px rgba(#000, 0.25);
        // filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));

        transition: all 0.3s ease-in-out;
        height: 100%;
        display: flex;
        flex-flow: column wrap;

        position: relative;    
        width: calc(100% / 1);
        // padding: 10px;

        &:hover{
            box-shadow: 0px 0px 8px 2px rgba(#000, 0.25);
        }
    }


    .img-wrap {
        // flex: 0 0 30%;
        height: 0;        
        padding-bottom: calc( 100% * ( 316 / 500));
        border-radius: 8px 8px 0 0;
        
        @include bg-basic;
        // overflow: hidden;
        

        img {
            @include img-fit;
        }  
                
    }

    .btn{
        position: relative;
        z-index: 1;
    }

    .btn-popup{
        width: 100%;
        font-size: font-resize(18px);
        border-radius: font-resize(15px);

        &:hover{
            background: darken(#3DB6FF, 20%);
        }
    }
    .info{
        padding: font-resize(12px);

        flex: 1;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;

    }
    

    .title{
        font-weight: bold;
        margin-bottom: 0.5rem;
        font-size: font-resize(18px);
    }

    .desc{
        margin-bottom: 0.5rem;
    }

   
}

//領獎中心
.tab-prize{

   
    // width: 100%;
    // max-width: 640px;

    // margin:0 auto;
    // background-color: rgba(#858585, .85);
    // border-radius: 30px;

    // margin-top: 0.6rem;
    // margin-bottom: 0.6rem;
    
    // &.tab-scroller {
    //     .tab-item{
    //         color: rgba(#fff, 1);
    //         z-index: 1;
    //         position: relative;

    //         transition: all 0.35s linear;

    //         &.active{
    //             color: #fff; 
    //             background-color: rgba(#45C5FF, 1);          
    //         }

    //         &:not(.active):hover{ 
    //             background-color: #369AD6;          
    //         }
           
    //     }
    // }



    // 舊的TAB 開始 ==========================
    .tab-scroller__content .tab-item.active{
        // color: #459E74;        
        // .tab-item-link{
        //     border-bottom: solid 4px #459E74;
        // }

    }

    .tab-scroller__content .tab-item{
        // font-weight: bold;

        // &:not(:first-child){
        //     // border-left: solid 1px #000;
        //     // padding-left: 1rem;
        // }
    }
    // 舊的TAB 結束 ==========================

}

//活動中心
.tab-activity{
    margin-bottom: 15px;

    .tab-scroller .tab-item{
        color: rgba(#000, 0.65);
        font-size: font-resize(17px);

        &.active{
            color: #009FE8;
        }
    }

    .tab-slide{
        background-color: #009FE8;
    }
}

//prize-item 共用 ----------------
.prize-item{

    &-group{
        display: flex;
        flex-flow: row wrap;

    }

    &-inner{
        position: relative;
        display: flex;
        flex-flow: row wrap;

        // transition: all 0.3s ease-in-out;
        
        // box-shadow: 3px 3px 4px rgba(#000, 0.25);
        // // filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));

        // &:hover{
        //     box-shadow: 0px 0px 8px 2px rgba(#000, 0.25);
        // }
        
    }

    &-link{
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        cursor: pointer;
        border-radius: font-resize(15px);
    }

    &-img{
        flex: 0 0 160px;
        // width: 100%;
    }

    .img-wrap{

        padding-bottom: calc( (85 / 160) * 100% );
        // padding-bottom: 50%;
        
        border-radius: 8px;
        
        @include bg-basic;

        img {
            @include img-fit;
        } 
                
    }

   
    position: relative;
    padding: 12px;
    width: calc(100% / 1);
    padding: 10px;
    

    .btn{
        position: relative;
        z-index: 1;
    }

    .btn-bouns{

        color: #fff;
        
        // width: 100%;
        // font-size: font-resize(18px);
        // border-radius: font-resize(15px);
        
        // background: url(../images/icon/coin-Ocoin.png), linear-gradient(180deg, #45C5FF 0%, #45C5FF 15.1%, #036EB7 64.06%);
        // background-repeat: no-repeat, repeat-y;
        // background-position: center 10px, center top;
        // background-size: calc( 100% - 25px) auto, auto;

        background: linear-gradient(180deg, #45C5FF 0%, #45C5FF 15.1%, #036EB7 64.06%);

        border: 2px solid #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(0, 0, 0, 0.25);

        border-radius: 10px;
        flex: 0 0 100px;
        // max-height: 90px;

        // padding: 90px 0 0 0;
        padding: 0;
        overflow: hidden; 
        
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: space-between;


            &:disabled{
                opacity: 1;

                
                &::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgba(#DBDBDB, 1);
                    mix-blend-mode: color;
                    position: absolute;
                    top: 0;
                }
          }       
        

        &:before{
            content: '';
            display: block;

            width: calc( 100% - 20px);
            height: 100%;
            // min-height: 68px;
            height: 0;
            padding-bottom: 60%;
            max-width: 60px;
           
            background: url(../images/icon/coin-Ocoin.png) center center no-repeat;

            background-size: contain;
            background-size: auto 80%;
        }
       

        &-num{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            width: 100%;
            padding: 4px;
            
            word-break: break-all;
        }

        &.bouns-get{

            

        }

        .btn-bouns-num{
            background-color: #FFB103;

        }
    }

   

    .detail{
        flex: 1;
        padding: 0 10px;
        display: flex;
        flex-flow: row wrap;
    }   

    .title{
        font-weight: bold;
        // margin-bottom: 0.5rem;
        width: 100%;
        font-size: font-resize(18px);
        
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        overflow: hidden;
    }

    .date-period{
        width: 100%;
        font-size: font-resize(14.5px);
    }

    .prize-status{        
        width: 100%;
        font-size: font-resize(14px);
    }

    .desc{
        margin-bottom: 0.5rem;
    }

   

    //HOVER樣式 ---------------

   
}


.activity-popup-detail{

	&-img{
		margin-bottom: 25px;

        .desktop{
            display: none;
        }		
	}

	&-content{
		// padding-left: 1.4rem;

		.section-wrap-title{
			font-size: font-resize(18px);
			font-weight: bold;
			margin-bottom: 0.5rem;
			// text-indent: -1.4rem;
            
            display: flex;
            align-items: center;

            &:before{
                content: '';
                display: inline-flex;
                width: 16px;
                height: 24px;
                background: url(../images/icon/ico-grid.svg) center center no-repeat;
                background-size: cover;
                margin-right: 0.5rem;
            }

			.icon{
				margin-right: 0.5rem;			
			}

			.icon-mask{
				margin-left: 0.5rem;
				
				&::before{
					background-color: #009FE8;

				}

			}
		}
		.section-wrap{
			margin-bottom: 50px;
		}

		.section-content{

		}
		

	}

}

.calendar{
   &-item-container{
       max-width: 520px;
       margin: 0 auto;
   }

   &-head{
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .name{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: font-resize(18px);
            font-weight: 500;
        }

       
   }
   &-body{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        border-top: solid #F4D9BD 1px;
        border-left: solid #F4D9BD 1px;

        .body-item{
            position: relative;
            aspect-ratio: 1/1;

            border-right: solid #F4D9BD 1px;
            border-bottom: solid #F4D9BD 1px;
            

            &-link{
                position: absolute;
                display: flex;
                width: 100%;
                height: 100%;
                z-index: 3;
                top: 0;


                &:hover{
                    cursor: pointer;
                }
            }

            .date{
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 25px;
                height: 100%;
                position: relative;
                z-index: 1;
                color: #d27f29;
            }

            &:before{
                content: '';
                display: block;
                position: absolute;
    
                width: 100%;
                height: 100%;
                // min-height: 68px;
                // height: 0;
                // padding-bottom: 60%;
                // max-width: 60px;
               
                background: url(../images/icon/icon-dog-dailylogin.svg) center center no-repeat;
    
                // background-size: contain;
                background-size: auto 90%;
                z-index: 0;
                top: 0;
                opacity: 0.5;
            }

            &.got{
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
        
                    width: 100%;
                    height: 100%;
                   
                   
                    background: url(../images/icon/icon-stamp-dailylogin.svg) center center no-repeat;
        
                    // background-size: contain;
                    background-size: auto 75%;
                    z-index: 2;
                    top: 0;
                }
            }

        }  

   }


}

.btn-QA-transaction{
    width: 20px;
    height: 20px;
}

// 獎金 - 已領取紀錄區
.section-prize-record{
    margin-top: 1.3rem;
}

.sec-title-intro-link{
    margin-left: 0.5rem;
}


.MT__table.table-prize-record .Thead .thead__th:not(:last-child):after{
    border-left-color: rgba(#fff, 0.35);
}




@media screen and (min-width:breakpoints_BS4(smg)+1) {
    .sec-title-container {
        .btn-activity{
            order: 2;
            display: none;
        }
        .tab-prize{
            width: auto;
            .tab-item-link{
                // padding-left: 20px;
                // padding-right: 20px;
                padding: 5px 20px;
            }            
        }
    }

}

@include media-breakpoint-up(desc-md){

    //activity-item 共用 ----------------
    .activity-item{
        width: calc(100% / 2);
    }

    .activity-popup-detail{

        &-img{
            .mobile{
                display: none;
            }	
            .desktop{
                display: block;
            }	
        }
    }

}

@include media-breakpoint-up(desc-lg){

    .prize-item{
        width: calc(100% / 2);
    }

    //activity-item 共用 ----------------
    .activity-item{
        width: calc(100% / 3);
    }


    

}

@media screen and (max-width:breakpoints_BS4(smg)) {
   

    .sec-title-activity,
    .sec-title-prize{

        .btn-link {
            order: -1;
            margin: 0 0 1rem 0;
        }
    }

    .btn-activity{
        margin-bottom: 1.5rem !important;
    }

}

@media screen and (max-width:breakpoints_BS4(smd)) {

    .prize-item {
        &-img {
            display: none;
        }

        .btn-bouns {
            order: -1;
        }
    }
    

    

}

